
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: rgb(186, 189, 149);
  color: #020202;
  background-color: ;
  padding: 0.8rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#menu-btn{
    text-align: left;
    font-size: 35px;
}

#title-logo {
    text-align: center;
    font-size: 25px;
    padding: 10px;
}





#sidebar {
    color: black;
    height: 100%;
    width: 0; 
    position: fixed;
    top: 0;
    left: 0;
    background-color: #dfdede;
    overflow-x: hidden;
    transition: width 0.3s ease;
    padding-top: 60px;
    z-index: 1000;
    border-right: 2px solid #020202; 
}

#menu-btn a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(0, 0, 0);
  display: block;
  transition: background 0.2s;
}

#menu-btn a:hover {
  background: #aba2a2;
}

#close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 36px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
